.roomsContainer{
 width: 40%;
 height: 30%;
 box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
 margin: 2% 5% 0 5%;
}

Form{
    padding: 20px;
  }


  input[type='number']{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background: #cfd8dc;
    color: rgb(70, 67, 67);
    border: 0;
  }

  .label-input100{
         font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
 
  }

  input[type='submit']{
    margin: 10px auto;
    background: #eee;
    border: 0;
    padding: 6px 20px;
    display: block;
  }