.room{
    width: 45%;
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 3vw;
    margin-bottom: 2vw;
    float: left;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.vr{
    width: 1px;
    height: 70%;
    background-color:  rgba(0, 0, 0, 0.3);
}



  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 640px) and (max-device-width : 736px) {
    .room{
        width: 25%;
        height: 8vh;
        margin-bottom: 1.5vw;
     
    }
    
    }


    /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    .room{
        width: 28%;
        height: 4vh;
        margin-bottom: 1.5vw;
       
    }
    }
  
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      /* Styles */
      .room{
        width: 42%;
        height: 5vh;
        margin-bottom: 1.5vw;
       
    }
      }

      @media only screen 
      and (min-device-width : 768px) 
      and (max-device-height : 812px) 
      and (-webkit-device-pixel-ratio : 3) {
     
        .room{
            width: 42%;
            height: 8vh;
            margin-bottom: 1vw;
         
        }
       }
  
       /* @media only screen and (min-width : 768px) and (max-width : 1300px) {
        /* Styles */
        /* .room{
          width: 42%;
          height: 5vh;
          margin-bottom: 1.5vw;
         
      }
        } */ 

     @media (min-width:1025px) { 
        .room{
            width: 36%;
            height: 5vh;
            margin-bottom: 1vw;
            margin-right: 2vw;
         
        }
        
       
  
     }

     @media (min-width:1281px) { 
        .room{
            width: 23%;
            height: 5vh;
            margin-bottom: 1vw;
            margin-right: 2vw;
         
        }
        
       
  
     }



